<footer class="footer">
  <div class="container">
    <div class="footer__grid">

      <div class="footer__col">
        <a href="./#home" class="footer__logo">
          Equin-Kube<span class="footer__dot">.</span>
        </a>
        <p class="footer__desc">
          Технологии, которые работают на вас. Образовательная платформа нового стандарта.
        </p>
      </div>

      <div class="footer__col">
        <h3 class="footer__title">Навигация</h3>
        <ul class="footer__list">
          <li><a href="./#about" class="footer__link">О платформе</a></li>
          <li><a href="./#program" class="footer__link">Программа</a></li>
          <li><a href="./#methodology" class="footer__link">Методика</a></li>
          <li><a href="./#blog" class="footer__link">Блог</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h3 class="footer__title">Информация</h3>
        <ul class="footer__list">
          <li><a href="./privacy.html" class="footer__link">Политика конфиденциальности</a></li>
          <li><a href="./cookies.html" class="footer__link">Политика Cookie</a></li>
          <li><a href="./terms.html" class="footer__link">Условия использования</a></li>
          <li><a href="./return.html" class="footer__link">Политика возврата средств</a></li>
          <li><a href="./disclaimer.html" class="footer__link">Отказ от ответственности</a></li>
          <li><a href="./personal-data-policy.html" class="footer__link">Политика обработки персональных данных</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h3 class="footer__title">Контакты</h3>
        <ul class="footer__contacts">
          <li class="footer__contact-item">
            <i data-lucide="map-pin"></i>
            <span>24 Rue du Faubourg Saint-Honoré, 75008 Paris, France</span>
          </li>
          <li class="footer__contact-item">
            <i data-lucide="mail"></i>
            <a href="mailto:hello@equin-kube.blog">hello@equin-kube.blog</a>
          </li>
          <li class="footer__contact-item">
            <i data-lucide="phone"></i>
            <a href="tel:+33145678901">+33 1 45 67 89 01</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="footer__bottom">
      <p>&copy; 2025 Equin-Kube. Все права защищены. Доступ к платформе открыт.</p>
    </div>
  </div>
</footer>