<header class="header">
  <div class="container header__container">
    <a href="./#home" class="header__logo">
      Equin-Kube<span class="header__dot">.</span>
    </a>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item"><a href="./#about" class="header__link">О платформе</a></li>
        <li class="header__item"><a href="./#program" class="header__link">Программа</a></li>
        <li class="header__item"><a href="./#methodology" class="header__link">Методика</a></li>
        <li class="header__item"><a href="./#reviews" class="header__link">Отзывы</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--primary">Связаться</a>
      <button class="header__burger" aria-label="Меню">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>